body{
    background: url('bckggrk.gif')
}

.main{
    margin: 5px 5px;
    padding: 10px 80px;
    height: 330px;  
}

.main h1{
    color:black;
    font-size: 40px;
    font-family: serif;
    margin: 50px 0px 0px 0px;
    height: 60px;
    text-align:left;
}

.main p{
    font-size: 19px;
}
 
.main img{
    width: 450px;
    height: 390px;
    float: right;
    padding: 50px 50px 10px 50px;
    opacity: 0.9;
}

.main-list{
    padding-top: 300px;
}

.main-list p{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 80px;
}

.main-list li{
    list-style: none;
}

.main-list li p{
    font-family:'Times New Roman', Times, serif;
    font-size: 19px;
    list-style: none;
    margin-left: 10px;
    margin-right: 50px;
    float: left;
}

.main-list li ul li{
    font-size: 19px;
}

.main-list img{
    float:none;
    width: 500px;
    height: 400px;
    padding: 30px 20px 0px 20px;
}

.main-list span{
    color: brown;
    font-size: 22px;
    padding: 0px 0px 20px 20px;
}
