body{
  background: url('https://images.app.goo.gl/DvX9LZZ23nWXfZ8v7')
    {

.header{
  height: 60px;
}

.header-logo{
  width: 20px;
  height: 20px;
}

.header-list{
  float: left;
  margin: 10px 25px;
  font-family: algerian;
  font-size: 40px;
  color: white;
}

.main{
  width: 500px;
  height: 90px;
}

.main h1{
  color: white;
  font-size: 40px;
  font-family: serif;
  background-color: brown;
  width: 600px;
  height: 90px;
}

.main li{
  background-color: green;
  font-family: algerian;
  font-size: 20px;
}

.footer p{
  color: black;
  font-size: 15px;
  font-family: Avenir-Next;
}

.footer logo{
  width: 20px;
  height: 20px;
  float: right;
}

.selected{
  color: green;
}
